@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700|PT+Serif&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-main-100: #F9E3EE;
  --color-main-200: #F3C8E1;
  --color-main-300: #DCA1CA;
  --color-main-400: #BA7CAC;
  --color-main-500: #8D4E85;
  --color-main-600: #793977;
  --color-main-700: #612765;
  --color-main-800: #491851;
  --color-main-900: #360E43;
}

@responsive {
  .h-80 {
    height: 20rem;
  }
}